#topContainer
{
	width:100%;
	height:15%;
	overflow:hidden;
}

#mainContainer
{
	position:absolute;
	top:15%;
	left:calc(15% + 10px);
	width:calc(85% - 16px);
	height:calc(85% - 6px);
	background-color:rgb(125,150,175);
	border: 3px dotted gray;
}

#iconDiv
{
	position: absolute;
	top:0px;
	left:0px;
	height:15%;
	width:calc(15% + 10px);
	background-color: gray;
}

#titlePanel
{
	position:absolute;
	top: 0px;
	left:calc(15% + 10px);
	width:calc(85% - 20px);
	height:calc(15% - 10px);
	padding-top:0px;
	line-height:0.5em;
}

#sidePanel
{
	position: absolute;
	top: 15%;
	left: 0px;
	width:15%;
	height: 60%;
	overflow-y:scroll;
}

#bottomSidePanel
{
	position: absolute;
	top:calc(75% + 10px);
	height:calc(25% - 20px);
	left:0px;
	width:15%;
	overflow:hidden;
}

.panel
{
	background-color: rgb(112,128,144);
	border-style:groove;
	border-width:5px;
	border-color:rgb(100,145,123);
}

.button
{
	border: 1px solid #00f;
	background-color: lime;
	line-height:0em;
	width: 100%;
	height: 25%;
}

.savedFeed
{
	border: 1px solid #0f0;
	background-color: lightblue;
	width:99%;
	height:40%;
	margin-bottom:2px;
}

.rssFeed
{
    height: 15%;
    background-color:antiquewhite;
}